*
{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}

h1
{
    text-align: center;
    font-size:60px;
    padding:20px;
    transition:0.3s ease;
    color:#003B73;
    margin:50px;
}
h1:hover
{
    transform: scale(1.1);
}

section
{
    width:1200px;
    margin:auto;
    margin-top:30px;
}

.image
{
    border: double black;
    float:right;
    margin:30px;
    width:300px;
    transition:0.3s ease;
}
.image:hover
{
    transform: scale(1.09);
}

h2
{
    font-size:34px;
    margin-bottom:20px;
    font-weight:500;
}


p
{
    font-size:20px;
    margin-bottom:30px;
    text-align: justify;
    color:#003B73;
    line-height: 30px;
}

ul
{
    font-size:20px;
    color:#003B73;
    line-height: 30px;
}

read-more 
{
    text-align: center;
}